$input-line-height:30px;
.form-label {
    h2 {
        line-height: 1;
        font-size: 1.2rem;
        padding: 0;
        margin: 15px 0 0 0;
        font-weight: 600;
        font-family: 'Jaldi', sans-serif;
    }
}

.form-input {
    display: flex;
    margin: 0 0 5px 0;
    height: $input-line-height;
    md-select {
        margin: 0;
        min-width: 100px;
    }
    h3 {
        margin: 0;
        line-height: $input-line-height;
        vertical-align: middle;
        text-align: left;
        font-weight: 400;
        display: inline-block;
    }
    .big-number {
        height: $input-line-height;
        width: 70px;
        color: $material-pallette-700;
        margin: 0;
        vertical-align: middle;
        padding: 0 5px 0 0;
        h3 {
            font-size: 18px;
            font-weight: 500;
            text-align: right;
        }
    }
    .item-name {
        height: $input-line-height;
        width: 200px;
        background-color: $material-pallette-800;
        color: #fff;
        margin: 0 0 0 5px;
        padding-left: 5px;
        overflow: hidden;
    }
    .item-name-small {
        height: $input-line-height;
        width: 100px;
        background-color: $material-pallette-800;
        color: #fff;
        margin: 0 0 0 5px;
        padding-left: 5px;
        overflow: hidden;
    }
    .item-name-med {
        height: $input-line-height;
        width: 150px;
        background-color: $material-pallette-800;
        color: #fff;
        margin: 0 0 0 5px;
        padding-left: 5px;
        overflow: hidden;
    }
    .item-name-sub {
        height: $input-line-height;
        width: 140px;
        background-color: $material-pallette-500;
        color: #fff;
        margin: 0 0 0 30px;
        padding-left: 5px;
        overflow: hidden;
    }
    .item-output {
        height: $input-line-height;
        width: 65px;
        background-color: #FFF;
        color: #000;
        margin: 0;
        padding-left: 5px;
        overflow: hidden;
        font-size: 14px;
    }
    .item-unit {
        height: $input-line-height;
        width: 40px;
        color: $material-pallette-700;
        margin-left: 5px;
        display: inline;
        h3 {
            font-size: 16px;
        }
    }
    .item-counter {
        height: $input-line-height;
        width: 110px;
        color: $material-pallette-700;
        margin-left: 5px;
    }
    .item-input {
        display: inline;
        height: $input-line-height;
        margin-left: 5px;
        padding: 1px 0px;
        box-sizing: border-box;
        input[type="tel"] {
            height: 22px;
            display: inline;
            width: 50px;
            text-align: right;
            font-size: 18px;
        }
        input[type="text"] {
            height: 22px;
            display: block;
            text-align: left;
            font-size: 18px;
        }
    }


    .text-100{
        input[type="text"] {
           width:100px;
        }
    }
    .text-300{
        input[type="text"] {
           width:300px;
        }
    }
    .tel-80 {
        input[type="tel"] {
            width: 80px;
        }
    }
    .item-select {
        width: 170px;
        height: $input-line-height;
        margin: 0 5px;
        padding: 0;
        md-select {
            width: 170px;
        }
    }
    .item-select-wide {
        width: 200px;
        height: $input-line-height;
        margin: 0 5px;
        padding: 0;
        md-select {
            width: 200px;
        }
    }
    .item-select-x-wide {
        width: 250px;
        height: $input-line-height;
        margin: 0 5px;
        padding: 0;
        md-select {
            width: 250px;
        }
    }

    .select-100{
        md-select {
            width: 100px;
        }
    }
    .item-select-small {
        width: 100px;
        height: $input-line-height;
        margin: 0 5px;
        padding: 0;
        md-select {
            width: 100px;
        }
    }
    .item-select-med {
        width: 135px;
        height: $input-line-height;
        margin: 0 5px;
        padding: 0;
        md-select {
            width: 100px;
        }
    }
    .item-cb {
        height: $input-line-height;
        padding-top: 5px;
        margin-left: 10px;
    }
}


/* change size and bkg clr when indented */

.indent {
    border-bottom: 2px solid $material-pallette-700;
    margin: 0 0 10px 30px;
}

.indent .form-input .item-name {
    width: 170px;
    background-color: $material-pallette-500;
}

.indent .form-input .item-name-sub {
    width: 140px;
    background-color: $material-pallette-500;
}

.indent .form-input .item-name-small {
    width: 80px;
    background-color: $material-pallette-500;
}

.indent .form-input .item-name-med {
    width: 120px;
    background-color: $material-pallette-500;
}
