body {
    font-family: 'Roboto', sans-serif;
}

.top-bar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $material-pallette-800;
    background-color: $material-accent-light;
    h1 {
        color: #000;
        line-height: 1;
        vertical-align: middle;
        margin: 0 0 0 .5rem;
        padding: 0;
        font-size: 18px;
    }
}

.view-container {
    margin: 5px 0 0 20px;
    width:810px;
}

.photos{
    margin-top: 20px;
    width:810px;
}

.page-title {
    height: 26px;
    margin:0 0 5px 0;
    background-color: $material-pallette-800;
    display: flex;
    justify-content: space-around;
    align-items: center;
    h4 {
         color: #fff;
        line-height: 1;
        font-size: 1rem;
        padding: 0;
        margin: 0;
        font-weight: 600;
    }
}

.subTitle{
    margin: 0 0 15px 0;
    h4 {
        line-height: 1;
        font-size: 18px;
        padding: 0;
        margin: 0;
        font-weight: 500;
    }
    p{
        margin:2px 0 0 0;
    }
}

.input-description{
    margin-bottom:15px;
    p{
        margin:0;
    }
    h4 {
        line-height: 1;
        font-size: 18px;
        padding: 0;
        margin: 0;
        font-weight: 600;
        color:$indigo-accent-700;
    }
    h5 {
        line-height: 1;
        font-size: 16px;
        padding: 0;
        margin: 0;
        font-weight: 600;
        color:$indigo-accent-700;
    }

}

//////////////////////////////FlexBox
.flex-column {
    display: flex;
    flex-direction: column;
}

// This will center a single item in a div
.centered-item {
    display: flex;
    justify-content: space-around;
}

.flex-row {
    display: flex;
}

.flex-row-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    div {
        margin-right: 1rem;
    }
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-space-between {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.spec-tables {
    display: flex;
    div {
        margin-right: 10px;
    }
}

.hrule {
    border-top: 2px solid $material-pallette-700;
    width: 100%;
    clear: both;
    content: '';
    display: block;
}


