body {
    font-family: 'Roboto', sans-serif;
}

.top-bar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $material-pallette-800;
    h1 {
        color: #fff;
        line-height: 1;
        vertical-align: middle;
        margin: 0 0 0 .5rem;
        padding: 0;
        font-size: 18px;
    }
}

.view-container {
    margin: 26px 0 0 20px;
}

.page-title {
    height: 26px;
    background-color: $material-accent-light;
    display: flex;
    justify-content: space-around;
    align-items: center;
    h4 {
        line-height: 1;
        font-size: 1rem;
        padding: 0;
        margin: 0;
        font-weight: 600;
    }
}

//////////////////////////////FlexBox
.flex-column {
    display: flex;
    flex-direction: column;
}

// This will center a single item in a div
.centered-item {
    display: flex;
    justify-content: space-around;
}

.flex-row {
    display: flex;
}

.flex-row-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    div {
        margin-right: 1rem;
    }
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-space-between {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.spec-tables {
    display: flex;
    div {
        margin-right: 10px;
    }
}

.hrule {
    border-top: 1px solid #000000;
    width: 100%;
    clear: both;
    content: '';
    display: block;
}

.indent {
    margin-left: 30px;
}

.form-label {
    h2 {
        line-height: 1;
        font-size: 1.2rem;
        padding: 0;
        margin: 15px 0 0 0;
        font-weight: 600;
        font-family: 'Jaldi', sans-serif;
    }
}

$input-line-height:30px;
.form-input {
    display: flex;
    margin: 4px 0 0 0;
    height: $input-line-height;
    md-select {
        margin: 0;
        min-width: 170px;
    }
    .job-item-name {
        height: $input-line-height;
        width: 200px;
        background-color: $material-pallette-800;
        color: #fff;
        margin: 0 4px 0 0;
        padding-left: 3px;
        overflow: hidden;
        h3 {
            margin: 0;
            line-height: $input-line-height;
            vertical-align: middle;
            text-align: left;
            font-weight: 400;
        }
    }
    .job-item-name-indent {
        height: $input-line-height;
        width: 170px;
        background-color: $material-pallette-800;
        color: #fff;
        margin: 0 4px 0 0;
        padding-left: 3px;
        overflow: hidden;
        h3 {
            margin: 0;
            line-height: $input-line-height;
            vertical-align: middle;
            text-align: left;
            font-weight: 400;
        }
    }
    .job-item-unit {
        height: $input-line-height;
        width: 60px;
        background-color: $material-pallette-800;
        color: #fff;
        margin: 0;
        padding: 0 0 0 4px;
        h3 {
            margin: 0;
            line-height: $input-line-height;
            vertical-align: middle;
            text-align: left;
            font-weight: 400;
        }
    }
    .job-item-input {
        width: 60px;
        height: $input-line-height;
        margin: 0 4px 0 0;
        padding: 1px 9px;
        box-sizing: border-box;
        input[type="tel"] {
            height: 22px;
            display: inline-block;
            width: 40px;
            text-align: right;
            font-size: 20px;
        }
    }
    .job-item-select {
        width: 180px;
        height: $input-line-height;
        margin: 0 4px 0 0;
        padding: 1px 5px;
        box-sizing: border-box;
    }
}
