
$material-pallette-500:#607D8B;
$material-pallette-700:#455A64;
$material-pallette-800:#37474F;
$material-pallette-200:#B0BEC5;

$material-accent-200:#FF5252;
$material-accent-light:#ffdada;

$secondary-accent-500:#3F51B5;
$secondary-accent-700:#303F9F;
$secondary-accent-800:#283593;

