.table-title-row {
    height: 25px;
    width: auto;
    display:flex;
    .first-item {
        width: 70px;
        height: 25px;
        background-color:$material-pallette-200;
    }

    .item {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $material-pallette-800;
        color: #FFF;
        width: 100px;
        margin-left: 1px;
        height: 25px;
        font-size: 14px;
        
    }
}

.table-row {
    height: 32px;
    width: auto;
    font-size: 14px;
    text-align: center;
    display:flex;
    .first-item {
    	display: flex;
        justify-content: space-around;
        align-items: center;
        width: 70px;
        background-color: $material-pallette-800;
        color: #FFF;
        margin-top:1px;
    }
    .item {
    	display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100px;
        margin-left: 1px;
        background-color: #DDD;
        margin-top:1px;
        cursor:pointer;
    }

    .item-selected {
    	display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100px;
        margin-left: 1px;
        background-color: $material-accent-200;
        margin-top:1px;
        
    }

   
}
