


.selectedJob{
    margin:10px 5px;
    h3{
        margin:0;
    }
}

.library-textarea{
	margin:0 0 10px 0;
	textarea{
		width:100%;
		display: inline-block;
		height:600px;
		margin:10px 0 0 0;
	}

}