<div class="subTitle">
    <h4>Pipes</h4></div>
<div class="form-input">
    <div class="item-name">
        <h3>Up to 3"</h3></div>
    <div class="item-output">
        <h3>{{Ctrl.PARAMS.PIPES.small}}</h3>
    </div>
</div>
<div class="form-input">
    <div class="item-name">
        <h3>4" to 8"</h3></div>
    <div class="item-output">
        <h3>{{Ctrl.PARAMS.PIPES.medium}}</h3>
    </div>
</div>
<div class="form-input">
    <div class="item-name">
        <h3>Over 8"</h3></div>
    <div class="item-output">
        <h3>{{Ctrl.PARAMS.PIPES.large}}</h3>
    </div>
</div>

