<div class="form-input">
    <div class="item-name-small">
        <h3>Qty</h3></div>
    <div class="read-only-small">
        <h3>{{$ctrl.qty}}</h3>
    </div>
    <div class="item-name-small">
        <h3>Width</h3></div>
    <div class="read-only-small">
        <h3>{{$ctrl.width}} in</h3>
    </div>
    <div class="item-name">
        <h3>Downspout</h3></div>
    <div class="read-only-small">
        <h3>{{$ctrl.downspout}}</h3>
    </div>
    <div class="item-name-small">
        <h3>Length</h3></div>
    <div class="read-only-small">
        <h3>{{$ctrl.length}}</h3>
    </div>
</div>
