<div class="form-input">
    <div class="item-name-small">
        <h3>Qty</h3></div>
    <div class="big-number">
        <h3>{{$ctrl.qty}}</h3>
    </div>
    <div class="item-name-small">
        <h3>Size</h3></div>
    <div class="big-number">
        <h3>{{$ctrl.size}} in</h3>
    </div>
    <div class="item-name-small">
        <h3>Shape</h3></div>
    <div class="big-number">
        <h3>{{$ctrl.shape}}</h3>
    </div>
    <div class="item-name">
        <h3>Replace Cap</h3></div>
     <div class="big-number">
        <h3>{{$ctrl.replace}}</h3>
    </div>
</div>
