<div ng-controller="TermsCtrl as Ctrl">
   <div class="page-title"><h4>Membrane Termintation at Edges, Walls and Caps</h4></div>
    <md-nav-bar md-selected-nav-item="Ctrl.currentNavItem" nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-click="" ng-click="Ctrl.goNav('terms.edge')" name="edge">EDGE</md-nav-item>
        <md-nav-item md-nav-click="" ng-click="Ctrl.goNav('terms.wall')" name="wall">WALL</md-nav-item>
        <md-nav-item md-nav-click="" ng-click="Ctrl.goNav('terms.parapet')" name="parapet">PARAPET</md-nav-item>
        <md-nav-item md-nav-click="" ng-click="Ctrl.goNav('terms.cap')" name="cap">CAP METAL</md-nav-item>
        <md-nav-item md-nav-click="" ng-click="Ctrl.goNav('terms.other')" name="other">OTHER</md-nav-item>
    </md-nav-bar>
    <horiz-rule marginbottom="10"></horiz-rule>
    <div ui-view></div>
</div>
