<div ng-controller="hvacDesignCtrl as Ctrl">
    <clear-input callback="Ctrl.clearInput()" title="{{Ctrl.JOB.street}}, {{Ctrl.JOB.city}} {{Ctrl.JOB.state}}"></clear-input>
    <p>HVAC units and electrical support management.</p>
    <horiz-rule margintop="5" marginbottom="10"></horiz-rule>
    <div class="form-input">
        <div class="item-name">
            <h3>Units By Size</h3></div>
    </div>
    <div class="indent">
        <hvac-review qty="item.qty" footprint-x="item.footprintX" footprint-y="item.footprintY" ng-repeat="item in Ctrl.PARAMS.UNITS"></hvac-review>
    </div>
    <div class="form-input">
        <div class="item-name">
            <h3>Electrical Support</h3></div>
    </div>
    <div class="indent">
        <div class="form-input">
            <div class="item-name">
                <h3>Wood</h3></div>
            <div class="item-counter">
                <counter count="Ctrl.pipeSupportWood" min="0" max="1000"></counter>
            </div>
        </div>
        <support-timber qty="item.qty" width="item.width" ng-repeat="item in Ctrl.PARAMS.SUPPORT.WOOD"></support-timber>
    </div>
    <div class="indent">
        <div class="form-input">
            <div class="item-name">
                <h3>Foam</h3></div>
            <div class="item-counter">
                <counter count="Ctrl.pipeSupportFoam" min="0" max="1000"></counter>
            </div>
        </div>
        <support-foam qty="item.qty" width="item.width" ng-repeat="item in Ctrl.PARAMS.SUPPORT.FOAM"></support-foam>
    </div>
    <div class="indent">
        <div class="form-input">
            <div class="item-name">
                <h3>Cones</h3></div>
            <div class="item-counter">
                <counter count="Ctrl.pipeSupportCones" min="0" max="1000"></counter>
            </div>
        </div>
        <support-cones qty="item.qty" ring="item.ring" attached="item.attached" ng-repeat="item in Ctrl.PARAMS.SUPPORT.CONES"></support-cones>
    </div>
</div>
