<div class="subTitle"><h4>Gutters</h4></div>

<div class="form-input">
    <div class="item-name">
        <h3>Eavestrough</h3></div>
</div>
<div class="indent">
    <div class="form-input">
        <div class="item-name">
            <h3>Length</h3></div>
        <div class="item-input">
            <input type="tel" ng-model="Ctrl.PARAMS.GUTTER.EAVES.length">
        </div>
        <div class="item-unit">
            <h3>Ft</h3>
        </div>
         <div class="item-name-small">
            <h3>Size</h3></div>
        <div class="item-input">
            <input type="tel" ng-model="Ctrl.PARAMS.GUTTER.EAVES.size">
        </div>
        <div class="item-unit">
            <h3>in</h3>
        </div>
    </div>
</div>

<div class="form-input">
    <div class="item-name">
        <h3>Downspouts</h3></div>
</div>
<div class="indent">
    <div class="form-input">
        <div class="item-name">
            <h3>Length</h3></div>
        <div class="item-input">
            <input type="tel" ng-model="Ctrl.PARAMS.GUTTER.DOWN.length">
        </div>
        <div class="item-unit">
            <h3>Ft</h3>
        </div>
         <div class="item-name-small">
            <h3>Qty</h3></div>
        <div class="item-input">
            <input type="tel" ng-model="Ctrl.PARAMS.GUTTER.DOWN.qty">
        </div>
        <div class="item-unit">
            <h3>Ft</h3>
        </div>
    </div>
</div>

<div class="form-input">
    <div class="item-name">
        <h3>Corners</h3></div>
</div>
<div class="indent">
    <div class="form-input">
        <div class="item-name">
            <h3>Inside</h3></div>
        <div class="item-input">
            <input type="tel" ng-model="Ctrl.PARAMS.GUTTER.CORNER.inside">
        </div>
        <div class="item-unit">
            <h3>Each</h3>
        </div>
    </div>
    <div class="form-input">
        <div class="item-name">
            <h3>Outside</h3></div>
        <div class="item-input">
            <input type="tel" ng-model="Ctrl.PARAMS.GUTTER.CORNER.outside">
        </div>
        <div class="item-unit">
            <h3>Each</h3>
        </div>
    </div>
</div>

<div class="form-input">
    <div class="item-name">
        <h3>Elbows</h3></div>
</div>
<div class="indent">
    <div class="form-input">
        <div class="item-name">
            <h3>Front</h3></div>
        <div class="item-input">
            <input type="tel" ng-model="Ctrl.PARAMS.GUTTER.ELBOWS.front">
        </div>
        <div class="item-unit">
            <h3>Each</h3>
        </div>
    </div>
    <div class="form-input">
        <div class="item-name">
            <h3>Side</h3></div>
        <div class="item-input">
            <input type="tel" ng-model="Ctrl.PARAMS.GUTTER.ELBOWS.side">
        </div>
        <div class="item-unit">
            <h3>Each</h3>
        </div>
    </div>
</div>

<div class="form-input">
    <div class="item-name">
        <h3>Hardware</h3></div>
</div>
<div class="indent">
    <div class="form-input">
        <div class="item-name">
            <h3>Gutter Hangers</h3></div>
        <div class="item-input">
            <input type="tel" ng-model="Ctrl.PARAMS.GUTTER.HARDWARE.hangers">
        </div>
        <div class="item-unit">
            <h3>Each</h3>
        </div>
    </div>
    <div class="form-input">
        <div class="item-name">
            <h3>Downspout Brackets</h3></div>
        <div class="item-input">
            <input type="tel" ng-model="Ctrl.PARAMS.GUTTER.HARDWARE.brackets">
        </div>
        <div class="item-unit">
            <h3>Each</h3>
        </div>
    </div>
    <div class="form-input">
        <div class="item-name">
            <h3>End Caps</h3></div>
        <div class="item-input">
            <input type="tel" ng-model="Ctrl.PARAMS.GUTTER.HARDWARE.caps">
        </div>
        <div class="item-unit">
            <h3>Each</h3>
        </div>
    </div>
</div>