<div ng-controller="PenetrationsCtrl as Ctrl">
    <clear-input callback="Ctrl.clearInput()" title="{{Ctrl.JOB.street}}, {{Ctrl.JOB.city}} {{Ctrl.JOB.state}}"></clear-input>
    <md-nav-bar md-selected-nav-item="Ctrl.currentNavItem" nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-click="" ng-click="Ctrl.goNav('penetrationsA.pipes')" name="pipes">PIPES</md-nav-item>
        <md-nav-item md-nav-click="" ng-click="Ctrl.goNav('penetrationsA.vents')" name="vents">VENTS</md-nav-item>
        <md-nav-item md-nav-click="" ng-click="Ctrl.goNav('penetrationsA.drains')" name="drains">DRAINS</md-nav-item>
        <md-nav-item md-nav-click="" ng-click="Ctrl.goNav('penetrationsA.gutters')" name="gutters">GUTTERS</md-nav-item>
    </md-nav-bar>
    <horiz-rule marginbottom="10"></horiz-rule>
    <div ui-view></div>
</div>
