<div class="subTitle">
    <h4>Pipes</h4></div>
<div class="form-input">
    <div class="item-name">
        <h3>Up to 3"</h3></div>
    <div class="item-counter">
        <counter count="Ctrl.PARAMS.PIPES.small" min="0" max="1000"></counter>
    </div>
</div>
<div class="form-input">
    <div class="item-name">
        <h3>4" to 8"</h3></div>
    <div class="item-counter">
        <counter count="Ctrl.PARAMS.PIPES.medium" min="0" max="1000"></counter>
    </div>
</div>
<div class="form-input">
    <div class="item-name">
        <h3>Over 8"</h3></div>
    <div class="item-counter">
        <counter count="Ctrl.PARAMS.PIPES.large" min="0" max="1000"></counter>
    </div>
</div>
