<div class="form-input">
    <div class="item-name-small">
        <h3>Qty</h3></div>
    <div class="item-input">
        <input type="tel" ng-model="$ctrl.qty">
    </div>
    <div class="item-name-small">
        <h3>Width</h3></div>
    <div class="item-select-small">
        <md-select ng-model="$ctrl.width" placeholder="select">
            <md-option value="{{opt}}" ng-repeat="opt in $ctrl.width_dp">{{ opt }}</md-option>
        </md-select>
    </div>
    <div class="item-unit">
        <h3>in.</h3></div>
    <div class="item-cb">
        <md-checkbox ng-model="$ctrl.downspout" aria-label="Downspout">
            Downspout
        </md-checkbox>
    </div>
    <div class="item-name-small" ng-show="$ctrl.downspout" style="margin-left:10px;">
        <h3>Length</h3></div>
    <div class="item-input" ng-show="$ctrl.downspout">
        <input type="tel" ng-model="$ctrl.length">
    </div>
    <div class="item-unit" ng-show="$ctrl.downspout">
        <h3>Ft.</h3></div>
</div>
