<div ng-show="Ctrl.PARAMS.STARCAPS!='0'">
    <div class="form-input">
        <div class="item-select">
            <md-select ng-model="Ctrl.PARAMS.STAR1_DIA" placeholder="Select size">
                <md-option ng-value="opt" ng-repeat="opt in Ctrl.L.sizeInches">{{ opt}}</md-option>
            </md-select>
        </div>
        <div class="item-input">
            <input type="tel" ng-model="Ctrl.PARAMS.STAR1_QTY">
        </div>
        <div class="item-unit">
            <h3>Qty</h3></div>
    </div>
    <div class="form-input" ng-show="Ctrl.PARAMS.STAR1_QTY!='0'">
        <div class="item-select">
            <md-select ng-model="Ctrl.PARAMS.STAR2_DIA" placeholder="Select size">
                <md-option ng-value="opt" ng-repeat="opt in Ctrl.L.sizeInches">{{ opt }}</md-option>
            </md-select>
        </div>
        <div class="item-input">
            <input type="tel" ng-model="Ctrl.PARAMS.STAR2_QTY">
        </div>
        <div class="item-unit">
            <h3>Qty</h3></div>
    </div>
    <div class="form-input" ng-show="Ctrl.PARAMS.STAR2_QTY!='0'">
        <div class="item-select">
            <md-select ng-model="Ctrl.PARAMS.STAR3_DIA" placeholder="Select size">
                <md-option ng-value="opt" ng-repeat="opt in Ctrl.L.sizeInches">{{ opt }}</md-option>
            </md-select>
        </div>
        <div class="item-input">
            <input type="tel" ng-model="Ctrl.PARAMS.STAR3_QTY">
        </div>
        <div class="item-unit">
            <h3>Qty</h3></div>
    </div>
    <div class="form-input" ng-show="Ctrl.PARAMS.STAR3_QTY!='0'">
        <div class="item-select">
            <md-select ng-model="Ctrl.PARAMS.STAR4_DIA" placeholder="Select size">
                <md-option ng-value="opt" ng-repeat="opt in Ctrl.L.sizeInches">{{ opt }}</md-option>
            </md-select>
        </div>
        <div class="item-input">
            <input type="tel" ng-model="Ctrl.PARAMS.STAR4_QTY">
        </div>
        <div class="item-unit">
            <h3>Qty</h3></div>
    </div>
    <div class="form-input" ng-show="Ctrl.PARAMS.STAR4_QTY!='0'">
        <div class="item-select">
            <md-select ng-model="Ctrl.PARAMS.STAR5_DIA" placeholder="Select size">
                <md-option ng-value="opt" ng-repeat="opt in Ctrl.L.sizeInches">{{ opt }}</md-option>
            </md-select>
        </div>
        <div class="item-input">
            <input type="tel" ng-model="Ctrl.PARAMS.STAR5_QTY">
        </div>
        <div class="item-unit">
            <h3>Qty</h3></div>
    </div>
</div>
