<div class="star-caps">
    <div class="form-input">
        <div class="item-name-small">
            <h3>Qty</h3></div>
        <div class="item-input">
            <input type="tel" ng-model="$ctrl.qty">
        </div>
        <div class="item-name-small">
            <h3>Size</h3></div>
        <div class="item-select-small">
            <md-select ng-model="$ctrl.size" placeholder="select">
                <md-option value="{{opt}}" ng-repeat="opt in $ctrl.size_dp">{{ opt }}</md-option>
            </md-select>
        </div>
        <div class="item-name-small">
            <h3>Shape</h3></div>
        <md-select ng-model="$ctrl.shape" placeholder="select">
            <md-option value="{{opt}}" ng-repeat="opt in $ctrl.shape_dp">{{ opt }}</md-option>
        </md-select>
        <div class="item-cb">
            <md-checkbox ng-model="$ctrl.replace" aria-label="Replace">
                Replace
            </md-checkbox>
        </div>
    </div>
</div>
