<div ng-controller="HVACCtrl as Ctrl">
    <div class="page-title">
        <h4>{{Ctrl.JOB.street}}, {{Ctrl.JOB.city}}</h4></div>
    <p>Quantity and footprint size of all rooftop HVAC units.</p>
    <horiz-rule margintop="5" marginbottom="10"></horiz-rule>
    <div class="form-input">
        <div class="item-name">
            <h3>Units By Size</h3></div>
        <div class="item-counter">
            <counter count="Ctrl.hvacSizeCount" min="0" max="1000"></counter>
        </div>
    </div>
    <div class="indent">
        <div>
            <hvac-footprints qty="item.qty" footprint-x="item.footprintX" footprint-y="item.footprintY" ng-repeat="item in Ctrl.PARAMS.UNITS"></hvac-footprints>
        </div>
    </div>
</div>
