<div ng-controller="LayersCtrl as Ctrl">
    <div class="page-title">
        <h4>Existing Roof Assembly Layers</h4></div>
    <!-- Layer One -->
    <div class="form-input">
        <div class="item-name">
            <h3>1st Layer</h3></div>
        <div class="item-select">
            <md-select ng-model="Ctrl.SELECT.layerOne" placeholder="select" ng-change="Ctrl.selectLayerOne()">
                <md-option ng-value="opt" ng-repeat="opt in Ctrl.L.roofLayersA">{{ opt.label }}</md-option>
            </md-select>
        </div>
    </div>
    <div class="indent" ng-show="Ctrl.PARAMS.layerOne=='RPANEL'">
        <rpanel height="Ctrl.PARAMS.RPANEL.height" width="Ctrl.PARAMS.RPANEL.width" winged="Ctrl.PARAMS.RPANEL.winged" insulation="Ctrl.PARAMS.RPANEL.insulation"></rpanel>
    </div>
    <!-- Layer Two -->
    <div ng-show="Ctrl.DOM.layerTwo">
        <div class="form-input">
            <div class="item-name">
                <h3>2nd Layer</h3></div>
            <div class="item-select">
                <md-select ng-model="Ctrl.SELECT.layerTwo" placeholder="select" ng-change="Ctrl.selectLayerTwo()">
                    <md-option ng-value="opt" ng-repeat="opt in Ctrl.L.roofLayersB">{{ opt.label }}</md-option>
                </md-select>
            </div>
            <div ng-show="Ctrl.PARAMS.layerTwo=='INSLTN'" class="item-select-small">
                <md-select ng-model="Ctrl.SELECT.layerTwoDepth" placeholder="inches">
                    <md-option ng-value="opt" ng-repeat="opt in Ctrl.L.ISO">{{ opt }}</md-option>
                </md-select>
            </div>
        </div>
    </div>
    <!-- Layer Three -->
    <div ng-show="Ctrl.DOM.layerThree">
        <div class="form-input">
            <div class="item-name">
                <h3>3rd Layer</h3></div>
            <div class="item-select">
                <md-select ng-model="Ctrl.SELECT.layerThree" placeholder="select" ng-change="Ctrl.selectLayerThree()">
                    <md-option ng-value="opt" ng-repeat="opt in Ctrl.L.roofLayersB">{{ opt.label }}</md-option>
                </md-select>
            </div>
            <div ng-show="Ctrl.PARAMS.layerThree=='INSLTN'" class="item-select-small">
                <md-select ng-model="Ctrl.SELECT.layerThreeDepth" placeholder="inches">
                    <md-option ng-value="opt" ng-repeat="opt in Ctrl.L.ISO">{{ opt }}</md-option>
                </md-select>
            </div>
        </div>
    </div>
    <!-- Layer Four -->
    <div ng-show="Ctrl.DOM.layerFour">
        <div class="form-input">
            <div class="item-name">
                <h3>4th Layer</h3></div>
            <div class="item-select">
                <md-select ng-model="Ctrl.SELECT.layerFour" placeholder="select" ng-change="Ctrl.selectLayerFour()">
                    <md-option ng-value="opt" ng-repeat="opt in Ctrl.L.roofLayersB">{{ opt.label }}</md-option>
                </md-select>
            </div>
            <div ng-show="Ctrl.PARAMS.layerFour=='INSLTN'" class="item-select-small">
                <md-select ng-model="Ctrl.SELECT.layerFourDepth" placeholder="inches">
                    <md-option ng-value="opt" ng-repeat="opt in Ctrl.L.ISO">{{ opt }}</md-option>
                </md-select>
            </div>
        </div>
    </div>
    <!-- Layer Five -->
    <div ng-show="Ctrl.DOM.layerFive">
        <div class="form-input">
            <div class="item-name">
                <h3>5th Layer</h3></div>
            <div class="item-select">
                <md-select ng-model="Ctrl.SELECT.layerFive" placeholder="select" ng-change="Ctrl.selectLayerFive()">
                    <md-option ng-value="opt" ng-repeat="opt in Ctrl.L.roofLayersB">{{ opt.label }}</md-option>
                </md-select>
            </div>
            <div ng-show="Ctrl.PARAMS.layerFive=='INSLTN'" class="item-select-small">
                <md-select ng-model="Ctrl.SELECT.layerFiveDepth" placeholder="inches">
                    <md-option ng-value="opt" ng-repeat="opt in Ctrl.L.ISO">{{ opt }}</md-option>
                </md-select>
            </div>
        </div>
    </div>
    <!-- Layer Six -->
    <div ng-show="Ctrl.DOM.layerSix">
        <div class="form-input">
            <div class="item-name">
                <h3>6th Layer</h3></div>
            <div class="item-select">
                <md-select ng-model="Ctrl.SELECT.layerSix" placeholder="select" ng-change="Ctrl.selectLayerSix()">
                    <md-option ng-value="opt" ng-repeat="opt in Ctrl.L.roofLayersB">{{ opt.label }}</md-option>
                </md-select>
            </div>
            <div ng-show="Ctrl.PARAMS.layerSix=='INSLTN'" class="item-select-small">
                <md-select ng-model="Ctrl.SELECT.layerSixDepth" placeholder="inches">
                    <md-option ng-value="opt" ng-repeat="opt in Ctrl.L.ISO">{{ opt }}</md-option>
                </md-select>
            </div>
        </div>
    </div>
</div>
