<div class="form-input">
    <div class="item-name">
        <h3>Rib Height</h3></div>
    <div class="item-select">
        <md-select ng-model="$ctrl.height" placeholder="inches">
            <md-option ng-value="{{opt}}" ng-repeat="opt in $ctrl.ribHeight_dp">{{ opt }}</md-option>
        </md-select>
    </div>
</div>
<div class="form-input">
    <div class="item-name">
        <h3>Rib Width Top</h3></div>
    <div class="item-select">
        <md-select ng-model="$ctrl.width" placeholder="inches">
            <md-option ng-repeat="opt in $ctrl.ribWidth_dp">{{ opt }}</md-option>
        </md-select>
    </div>
</div>
<div class="form-input">
    <div class="item-name">
        <h3>Winged Fill</h3></div>
    <div class="item-select">
        <md-select ng-model="$ctrl.winged" placeholder="select">
            <md-option ng-value="opt" ng-repeat="opt in $ctrl.wingedFill_dp">{{ opt }}</md-option>
        </md-select>
    </div>
</div>
<div class="form-input">
    <div class="item-name">
        <h3>Top Insulation</h3></div>
    <div class="item-select">
        <md-select ng-model="$ctrl.insulation" placeholder="select">
            <md-option ng-value="{{opt}}" ng-repeat="opt in $ctrl.insulation_dp">{{ opt }}</md-option>
        </md-select>
    </div>
</div>