<div ng-controller="HomeCtrl as Ctrl">
    <div class="page-title">
        <h4>Home</h4></div>
    <md-nav-bar md-selected-nav-item="Ctrl.currentNavItem" nav-bar-aria-label="navigation links">
    	<md-nav-item md-nav-click="" ng-click="Ctrl.goNav('home.active')" name="active">ACTIVE</md-nav-item>
        <md-nav-item md-nav-click="" ng-click="Ctrl.goNav('home.selected')" name="selected">SELECT</md-nav-item>
        <md-nav-item md-nav-click="" ng-click="Ctrl.goNav('home.new')" name="new">NEW</md-nav-item>
    </md-nav-bar>
    <horiz-rule marginbottom="10"></horiz-rule>
    <div ui-view></div>
</div>
