<div ng-controller="HomeCtrl as Ctrl">
    <div class="form-input">
        <div class="item-select">
            <md-select ng-model="Ctrl.gallery" placeholder="gallery">
                <md-option ng-value="opt" ng-repeat="opt in Ctrl.gallery_dp">{{ opt }}</md-option>
            </md-select>
        </div>
    </div>
    <div class="photos">
        <div ng-show="Ctrl.gallery=='edge'">
            <h3>Edge Termination</h3>
            <img src="img/processed/BSI050_Figure_15_web.jpg">
            <img src="img/processed/dsv41.jpg">
        </div>
        <div ng-show="Ctrl.gallery=='wall'">
            <h3>Wall Termination</h3>
            <img src="img/processed/image_header_100_reglets_2.jpg">
            <img src="img/processed/reglet.jpg">
            <img src="img/processed/1-13-7.jpg">
            <img src="img/processed/rooftermbaronly.jpg">
            <img src="img/processed/6130.jpg">
            <img src="img/processed/6145.jpg">
            <img src="img/processed/dsv32.jpg">
            <img src="img/processed/dsv40.jpg">
            <img src="img/processed/14059.jpg">
            <img src="img/processed/416813441b17eb445c6569bcc99acf12.jpg">
            <img src="img/processed/Termination-Bars.png">
            <img src="img/processed/WL-600-Paver-Termination-Bar-expanded.jpg">
        </div>
        <div ng-show="Ctrl.gallery=='cap'">
            <h3>Parapet or Other Cap Metal</h3>
            <img src="img/processed/31.jpg">
            <img src="img/processed/1d69d1a0dc61d099797eb8586fb732fe.jpg">
            <img src="img/processed/30_figure1.jpg">
            <img src="img/processed/30_figure1.jpg">
            <img src="img/processed/a97523fa88c1e390490cb650511bc541.jpg">
            <img src="img/processed/BSI050_Figure_12b_web.jpg">
            <img src="img/processed/EPDM-SA-T-7_1.jpg">
            <img src="img/processed/roofdetail3.jpg">
            <img src="img/processed/roofdetail6.jpg">
        </div>
    </div>
</div>
