<div ng-controller="HomeCtrl as Ctrl">
    <div class="form-input">
        <div class="item-select">
            <md-select ng-model="Ctrl.gallery" placeholder="gallery">
                <md-option ng-value="opt" ng-repeat="opt in Ctrl.gallery_dp">{{ opt }}</md-option>
            </md-select>
        </div>
    </div>
    <div class="photos">
        <div ng-show="Ctrl.gallery=='edge'">
            <h3>Edge Termination</h3>
            <img src="img/processed/BSI050_Figure_15_web.jpg">
            <img src="img/processed/dsv41.jpg">
        </div>
        <div ng-show="Ctrl.gallery=='wall'">
            <h3>Wall Termination</h3>
            <img src="img/processed/image_header_100_reglets_2.jpg">
            <img src="img/processed/reglet.jpg">
            <img src="img/processed/1-13-7.jpg">
            <img src="img/processed/rooftermbaronly.jpg">
            <img src="img/processed/6130.jpg">
            <img src="img/processed/6145.jpg">
            <img src="img/processed/dsv32.jpg">
            <img src="img/processed/dsv40.jpg">
            <img src="img/processed/14059.jpg">
            <img src="img/processed/416813441b17eb445c6569bcc99acf12.jpg">
            <img src="img/processed/Termination-Bars.png">
            <img src="img/processed/WL-600-Paver-Termination-Bar-expanded.jpg">
        </div>
        <div ng-show="Ctrl.gallery=='cap'">
            <h3>Parapet or Other Cap Metal</h3>
            <img src="img/processed/31.jpg">
            <img src="img/processed/1d69d1a0dc61d099797eb8586fb732fe.jpg">
            <img src="img/processed/30_figure1.jpg">
            <img src="img/processed/30_figure1.jpg">
            <img src="img/processed/a97523fa88c1e390490cb650511bc541.jpg">
            <img src="img/processed/BSI050_Figure_12b_web.jpg">
            <img src="img/processed/EPDM-SA-T-7_1.jpg">
            <img src="img/processed/roofdetail3.jpg">
            <img src="img/processed/roofdetail6.jpg">
        </div>
         <div ng-show="Ctrl.gallery=='drains'">
             <h3>The Three Main Types of Flat Roof Drainage</h3>
             <ul>
                 <li>Scupper Drains – Perhaps the most economical flat roofing drainage system, scupper drains are located at low points around the roof’s perimeter. Water drains through an opening (the scupper) at the base of the roof’s parapet into gutters or downspouts. Scupper drains are often clogged by debris, snow and ice.</li>
                 <li>Internal Drains – The design of your new roof must revolve around the location of internal drains. Sections of your flat roof will be made to slope toward the internal drains located at different points on your roof, usually away from the perimeter. Water drains through downspouts that run through your building (hence the name ‘internal’) to a drainage system below. In some cases, internal drains may be installed after roof construction is finished at points where chronic water pooling occurs. Again, care must be taken to make sure internal drains do not clog.</li>
                 <li>Gutter or Eavestrough Drains – Flat roofs that use gutter drains must be made to slope toward the side of the roof with the gutter. As the vast majority of industrial and commercial flat roofs have a parapet, that means the entire roof must slope in one direction. In the case of very large roofs, this can increase the chance of pooling problems. But if the roof area is not too large, gutter drains are a good option as they are not as easily clogged as the other types of drains.</li>
             </ul>
             <img src="img/processed/flat-roof-drainage.jpg">
        </div>
    </div>
</div>
