<div>
    <div class="form-input">
        <div class="item-name">
            <h3>Client</h3></div>
        <div class="item-input">
            <input type="text" ng-model="Ctrl.NEW.client" placeholder="client">
        </div>
    </div>
    <div class="form-input">
        <div class="item-name">
            <h3>Property</h3></div>
        <div class="item-input">
            <input type="text" ng-model="Ctrl.NEW.name" placeholder="property">
        </div>
    </div>
    <div class="form-input">
        <div class="item-name">
            <h3>Street</h3></div>
        <div class="item-input">
            <input type="text" ng-model="Ctrl.NEW.street" placeholder="street">
        </div>
    </div>
    <div class="form-input">
        <div class="item-name">
            <h3>City</h3></div>
        <div class="item-input">
            <input type="text" ng-model="Ctrl.NEW.city" placeholder="city">
        </div>
    </div>
    <div class="form-input">
        <div class="item-name">
            <h3>State</h3></div>
        <div class="item-input">
            <input type="text" ng-model="Ctrl.NEW.state" placeholder="state">
        </div>
    </div>
    <div class="form-input">
        <div class="item-name">
            <h3>Zip</h3></div>
        <div class="item-input">
            <input type="text" ng-model="Ctrl.NEW.zip" placeholder="zip">
        </div>
    </div>
    <div class="item-btn">
        <md-button class="md-raised" ng-click="Ctrl.submitNewJob();"> SUBMIT </md-button>
    </div>
</div>
