<div ng-controller="LibCtrl as Ctrl">
    <div class="page-title">
        <h4>Library of Standard Paragraphs</h4></div>
    
    <div id='cssmenu'>
        <ul>
            <li ng-class="{ active: Ctrl.isCurrentPath('/library/introduction')}"><a ui-sref='library.introduction'>Introduction</a></li>
            <li ng-class="{ active: Ctrl.isCurrentPath('/library/materials')}"><a ui-sref='library.materials'>Materials</a></li>
            <li ng-class="{ active: Ctrl.isCurrentPath('/library/deck')}"><a ui-sref='library.deck'>Deck</a></li>
            <li ng-class="{ active: Ctrl.isCurrentPath('/library/insulation')}"><a ui-sref='library.insulation'>Insulation</a></li>
            <li ng-class="{ active: Ctrl.isCurrentPath('/library/options')}"><a ui-sref='library.membrane'>Membrane</a></li>
            <li ng-class="{ active: Ctrl.isCurrentPath('/library/postinstall')}"><a ui-sref='library.postinstall'>Post</a></li>
            <li ng-class="{ active: Ctrl.isCurrentPath('/library/exclusions')}"><a ui-sref='library.exclusions'>Exclusions</a></li>
            <li ng-class="{ active: Ctrl.isCurrentPath('/library/warranty')}"><a ui-sref='library.warranty'>Warranty</a></li>
        </ul>
    </div>
    <div ui-view></div>
</div>
