<div ng-controller="ISO_Ctrl as Ctrl">
    <div class="page-title">
        <h4>Insulation</h4></div>
    <div>
        <div class="form-input">
            <div class="job-item-name">
                <h3>Field</h3></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.PARAMS.FIELD">
            </div>
            <div class="job-item-unit">
                <h3>Sq</h3></div>
        </div>
        <div class="form-input">
            <div class="job-item-name">
                <h3>Special Taper</h3></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.PARAMS.TERMINATION">
            </div>
            <div class="job-item-unit">
                <h3>Qty</h3></div>
        </div>
       
        <div class="form-label">
            <h2>Adhere</h2></div>
        <div class="form-input">
            <div class="job-item-name">
                <h3>Screws</h3></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.PARAMS.TERMBAR">
            </div>
            <div class="job-item-unit">
                <h3>Ft</h3></div>
            <md-select ng-model="Ctrl.PARAMS.TERMBARSIZE" placeholder="Select size">
                <md-option ng-value="opt" ng-repeat="opt in Ctrl.L.termBarSize">{{ opt.label }}</md-option>
            </md-select>
        </div>
        <div class="form-input">
            <div class="job-item-name">
                <h3>Foam</h3></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.PARAMS.TERMBAR">
            </div>
            <div class="job-item-unit">
                <h3>Ft</h3></div>
        </div>
       
        <div class="indent">
            <div class="form-input-indent">
                <div class="job-item-name">
                    <h3>Type</h3></div>
                <div class="job-item-input">
                    <input type="tel" name="qtyInput" ng-model="Ctrl.PARAMS.SPxxxxxxCTYPE">
                </div>
                <div class="job-item-name">
                    <h3>Cost PF</h3></div>
                <div class="job-item-input">
                    <input type="tel" name="qtyInput" ng-model="Ctrl.PARAMS.xxx">
                </div>
            </div>
        </div>
       
    </div>
</div>
