<div ng-controller="FieldCtrl as Ctrl">
    <div class="page-title">
        <h4>Membrane Requirements</h4></div>
    <div>
        <p>Determine total amount of membrane (squares) and number of corner flashings for complete replacement.</p>
        <div class="form-input">
            <div class="item-name">
                <h3>Field</h3></div>
            <div class="item-input">
                <input type="tel" ng-model="Ctrl.PARAMS.SQUARES"></div>
            <div class="item-unit">
                <h3>Sq</h3></div>
        </div>
        <div class="form-input">
            <div class="item-name">
                <h3>Outside Corners</h3></div>
            <div class="item-input">
                <input type="tel" ng-model="Ctrl.PARAMS.CRNROUT">
            </div>
            <div class="item-unit">
                <h3>Qty</h3></div>
        </div>
        <div class="form-input">
            <div class="item-name">
                <h3>Inside Corners</h3></div>
            <div class="item-input">
                <input type="tel" ng-model="Ctrl.PARAMS.CRNRIN">
            </div>
            <div class="item-unit">
                <h3>Qty</h3></div>
        </div>
       
        <div class="form-input">
            <div class="item-name">
                <h3>Walls</h3></div>
            <div class="item-counter">
                <counter count="Ctrl.parapetWallCount" min="0" max="100"></counter>
            </div>

        </div>
        <div class="indent" >
            <parapet-wall height="item.height" length="item.length" ng-repeat="item in Ctrl.PARAMS.WALLS"></parapet-wall>
        </div>
    </div>
</div>
