<div ng-controller="RpanelCtrl as Ctrl">
    <clear-input callback="Ctrl.clearInput()" title="{{Ctrl.JOB.street}}, {{Ctrl.JOB.city}} {{Ctrl.JOB.state}}"></clear-input>
    <p>R-Panel installation parameters.</p>
    <horiz-rule margintop="5" marginbottom="10"></horiz-rule>
    <div>
        <div>
            <div class="indent" ng-show="Ctrl.LAYERS.layerOne.layer=='RPANEL'">
                <rpanel height="Ctrl.PARAMS.rPanel_height" width='Ctrl.PARAMS.rPanel_width' winged="Ctrl.PARAMS.rPanel_winged" insulation='Ctrl.PARAMS.rPanel_insulation'></rpanel>
            </div>
        </div>
    </div>
