<div class="form-input">
    <div class="item-name">
        <h3>Edge Termination</h3></div>
    <div class="item-select">
        <md-select ng-model="Ctrl.PARAMS.EDGETERM" placeholder="select">
            <md-option ng-value="opt" ng-repeat="opt in Ctrl.L.edgeTermination">{{ opt }}</md-option>
        </md-select>
    </div>
</div>
<div class="indent" ng-show="Ctrl.PARAMS.EDGETERM=='T-Bar'">
    <div class="form-input">
        <div class="item-name">
            <h3>Stretch-out</h3></div>
        <div class="item-select">
            <md-select ng-model="Ctrl.PARAMS.TBAR.STRETCHOUT" placeholder="select">
                <md-option ng-value="opt" ng-repeat="opt in Ctrl.L.twoThruFortyEight">{{ opt }}</md-option>
            </md-select>
        </div>
        <div class="item-unit">
            <h3>inches</h3>
        </div>
    </div>
</div>
<div class="indent" ng-show="Ctrl.PARAMS.EDGETERM=='Clad Metal'">
    <div class="form-input">
        <div class="item-name">
            <h3>Stretch-out</h3></div>
        <div class="item-select">
            <md-select ng-model="Ctrl.PARAMS.CLADMETAL.STRETCHOUT" placeholder="select">
                <md-option ng-value="opt" ng-repeat="opt in Ctrl.L.twoThruFortyEight">{{ opt }}</md-option>
            </md-select>
        </div>
        <div class="item-unit">
            <h3>inches</h3>
        </div>
    </div>
    <div class="form-input">
        <div class="item-name">
            <h3>Strip-in width</h3></div>
        <div class="item-select">
            <md-select ng-model="Ctrl.PARAMS.CLADMETAL.STRIPIN" placeholder="select">
                <md-option ng-value="opt" ng-repeat="opt in Ctrl.L.twoThruFortyEight">{{ opt }}</md-option>
            </md-select>
        </div>
        <div class="item-unit">
            <h3>inches</h3>
        </div>
    </div>
</div>
