<div class="subTitle">
    <h4>Termination at Edge</h4>
    <p>Total Linear Footage of all membrane termination at perimeter edge.</p>
</div>
<div class="input-description">
    <h5>Edge Total = {{Ctrl.PARAMS.PERIMETER}} LF</h5>
</div>
<div class="form-input">
    <div class="item-name">
        <h3>Edge Termination</h3></div>
    <div class="item-select-wide">
        <md-select ng-model="Ctrl.PARAMS.DESIGN.EDGES.type" placeholder="select">
            <md-option><em>None</em></md-option>
            <md-option ng-value="opt.label" ng-repeat="opt in Ctrl.L.edgeTermination">{{ opt.label }}</md-option>
        </md-select>
    </div>
</div>
<div class="indent" ng-show="Ctrl.PARAMS.DESIGN.EDGES.type=='T-Bar'">
    <div class="form-input">
        <div class="item-name">
            <h3>Stretch-out</h3></div>
        <div class="item-select">
            <md-select ng-model="Ctrl.PARAMS.DESIGN.EDGES.stretchout" placeholder="select">
                <md-option ng-value="opt" ng-repeat="opt in Ctrl.L.twoThruFortyEight">{{ opt }}</md-option>
            </md-select>
        </div>
        <div class="item-unit">
            <h3>inches</h3>
        </div>
    </div>
</div>
<div class="indent" ng-show="Ctrl.PARAMS.DESIGN.EDGES.type=='Clad Metal'">
    <div class="form-input">
        <div class="item-name">
            <h3>Stretch-out</h3></div>
        <div class="item-select">
            <md-select ng-model="Ctrl.PARAMS.DESIGN.EDGES.stretchout" placeholder="select">
                <md-option ng-value="opt" ng-repeat="opt in Ctrl.L.twoThruFortyEight">{{ opt }}</md-option>
            </md-select>
        </div>
        <div class="item-unit">
            <h3>inches</h3>
        </div>
    </div>
    <div class="form-input">
        <div class="item-name">
            <h3>Strip-in width</h3></div>
        <div class="item-select">
            <md-select ng-model="Ctrl.PARAMS.DESIGN.EDGES.stripin" placeholder="select">
                <md-option ng-value="opt" ng-repeat="opt in Ctrl.L.twoThruFortyEight">{{ opt }}</md-option>
            </md-select>
        </div>
        <div class="item-unit">
            <h3>inches</h3>
        </div>
    </div>
</div>
