<div ng-controller="TerminationsDesignCtrl as Ctrl">
    <clear-input callback="Ctrl.clearInput()" title="{{Ctrl.JOB.street}}, {{Ctrl.JOB.city}} {{Ctrl.JOB.state}}"></clear-input>
    <md-nav-bar md-selected-nav-item="Ctrl.currentNavItem" nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-click="" ng-click="Ctrl.goNav('terminationsB.edge')" name="edge">EDGES</md-nav-item>
        <md-nav-item md-nav-click="" ng-click="Ctrl.goNav('terminationsB.wall')" name="wall">WALLS</md-nav-item>
        <md-nav-item md-nav-click="" ng-click="Ctrl.goNav('terminationsB.parapet')" name="parapet">PARAPETS</md-nav-item>
    </md-nav-bar>
    <horiz-rule marginbottom="10"></horiz-rule>
    <div ui-view></div>
</div>
