<div ng-controller="PrimiterCtrl as Ctrl">
    <div class="page-title">
        <h4>Perimiter and Edges</h4></div>
    <div>
        <div class="form-input">
            <div class="item-name">
                <h3>Termination Bar</h3></div>
            <div class="item-input">
                <input type="tel" ng-model="Ctrl.PARAMS.TERMBAR">
            </div>
            <div class="item-unit">
                <h3>Ft</h3></div>
            <div class="item-select-small">    
                <md-select ng-model="Ctrl.PARAMS.TERMBARSIZE" placeholder="size">
                    <md-option ng-value="opt" ng-repeat="opt in Ctrl.L.termBarSize">{{ opt.label }}</md-option>
                </md-select>
            </div>
        </div>
        <div class="form-input">
            <div class="item-name">
                <h3>Cap Metal</h3></div>
            <div class="item-input">
                <input type="tel" ng-model="Ctrl.PARAMS.CLADMETAL">
            </div>
            <div class="item-unit">
                <h3>Ft</h3></div>
            <div class="item-select-small">    
                <md-select ng-model="Ctrl.PARAMS.TERMBARSIZE" placeholder="stretch-out">
                    <md-option ng-value="opt" ng-repeat="opt in Ctrl.L.stretchOut">{{ opt.label }}</md-option>
                </md-select>
            </div>
        </div>
        <div class="form-input">
            <div class="item-name">
                <h3>Special Type</h3></div>
            <div class="item-input">
                <input type="tel" ng-model="Ctrl.PARAMS.SPECTYPE_FT"></div>
            <div class="item-unit">
                <h3>Ft</h3></div>
        </div>
        <div class="indent" ng-show="Ctrl.PARAMS.SPECTYPE_FT!='0'">
            <div class="form-input">
                <div class="item-name">
                    <h3>Description</h3></div>
                <div class="item-input">
                    <input type="text" ng-model="Ctrl.PARAMS.SPECTYPE_DES"></div>
            </div>
            <div class="form-input">
                <div class="item-name">
                    <h3>Cost Per Ft</h3></div>
                <div class="item-input">
                    <input type="tel" ng-model="Ctrl.PARAMS.SPECTYPE_COST"></div>
                <div class="item-unit">
                    <h3>$</h3></div>
            </div>
        </div>
        <div class="form-input">
            <div class="item-name">
                <h3>Wall Termination</h3></div>
            <div class="item-input">
                <input type="tel" ng-model="Ctrl.PARAMS.TERMINATION">
            </div>
            <div class="item-unit">
                <h3>Ft</h3></div>
        </div>
       
    </div>
</div>
