<div class="form-input">
    <div class="item-name-small">
        <h3>Length</h3></div>
    <div class="item-input">
        <input type="tel" ng-model="$ctrl.length"></div>
        <div class="item-unit">
            <h3>ft</h3></div>
        <div class="item-name-small">
            <h3>Cleated</h3></div>
        <div class="item-select-small">
            <md-select ng-model="$ctrl.cleated" placeholder="select">
                <md-option ng-value="opt" ng-repeat="opt in $ctrl.cleated_dp">{{ opt }}</md-option>
            </md-select>
        </div>
        <div class="item-name">
            <h3>Stretch-out</h3></div>
        <div class="item-select-small">
            <md-select ng-model="$ctrl.stretchout" placeholder="select">
                <md-option ng-value="opt" ng-repeat="opt in $ctrl.width_dp">{{ opt }}</md-option>
            </md-select>
        </div>
        <div class="item-unit">
            <h3>in</h3></div>
    </div>
</div>
