<div class="form-input">
    <div class="item-name">
        <h3>Length</h3></div>
    <div class="item-input">
        <input type="tel" ng-model="Ctrl.PARAMS.OTHER.length">
    </div>
    <div class="item-unit">
        <h3>Ft</h3></div>
</div>

<div class="form-input">
    <div class="item-name">
        <h3>Cost</h3></div>
    <div class="item-input">
        <input type="tel" ng-model="Ctrl.PARAMS.OTHER.cost">
    </div>
</div>

 <div class="form-input">   
    <div class="item-name">
        <h3>Description</h3></div>
    <div class="item-input">
        <input type="text" ng-model="Ctrl.PARAMS.OTHER.description">
    </div>
 </div>   

