<div ng-controller="TermsCtrl as Ctrl">
   <div class="page-title">
   		<h4>{{Ctrl.JOB.street}}, {{Ctrl.JOB.city}}</h4></div>
    <md-nav-bar md-selected-nav-item="Ctrl.currentNavItem" nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-click="" ng-click="Ctrl.goNav('terminationsA.edge')" name="edge">EDGES</md-nav-item>
        <md-nav-item md-nav-click="" ng-click="Ctrl.goNav('terminationsA.wall')" name="wall">WALLS</md-nav-item>
        <md-nav-item md-nav-click="" ng-click="Ctrl.goNav('terminationsA.cap')" name="cap">PARAPETS</md-nav-item>
        <md-nav-item md-nav-click="" ng-click="Ctrl.goNav('terminationsA.other')" name="other">OTHER</md-nav-item>
    </md-nav-bar>
    <horiz-rule marginbottom="10"></horiz-rule>
    <div ui-view></div>
</div>
