<div class="form-input">
    <div class="item-name">
        <h3>Material</h3></div>
    <div class="item-select">
        <md-select ng-model="$ctrl.material" placeholder="select" md-on-close="$ctrl.selectMaterial()">
            <md-option value="{{opt}}" ng-repeat="opt in $ctrl.materials_dp">{{ opt }}</md-option>
        </md-select>
    </div>
    <div class="item-name-med">
        <h3>Thickness</h3></div>
    <div class="item-select-small">
        <md-select ng-model="$ctrl.thickness" placeholder="select" ng-show="$ctrl.material=='Plywood'">
            <md-option value="{{opt}}" ng-repeat="opt in $ctrl.plywood_dp">{{ opt }}</md-option>
        </md-select>
        <md-select ng-model="$ctrl.thickness" placeholder="select" ng-show="$ctrl.material=='Densdeck'">
            <md-option value="{{opt}}" ng-repeat="opt in $ctrl.densdeck_dp">{{ opt }}</md-option>
        </md-select>
    </div>

    <div class="item-name-small">
        <h3>Qty</h3></div>
    <div class="item-input">
        <input type="tel" ng-model="$ctrl.qty">
    </div>
    <div class="item-unit">
        <h3>sheets</h3></div>
</div>
