<div class="form-input">
    <div class="item-name">
        <h3>Poly ISO</h3></div>
    <div class="spacerH5"></div>
    <div class="item-name-med">
        <h3>Thickness</h3></div>
    <div class="item-select-small">
        <md-select ng-model="$ctrl.thickness" placeholder="select">
            <md-option value="{{opt}}" ng-repeat="opt in $ctrl.iso_dp">{{ opt }}</md-option>
        </md-select>
    </div>
    <div class="item-name-small">
        <h3>Size</h3></div>
    <div class="item-select-small">
        <md-select ng-model="$ctrl.size" placeholder="select">
            <md-option value="{{opt}}" ng-repeat="opt in $ctrl.isoSize">{{ opt }}</md-option>
        </md-select>
    </div>
    <div class="item-name-small">
        <h3>Qty</h3></div>
    <div class="item-input">
        <input type="tel" ng-model="$ctrl.qty">
    </div>
    <div class="item-unit">
        <h3>sheets</h3></div>
</div>
